.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: popoverAnimation 200ms;
  z-index: 1;
  overflow: auto;
}

.inner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@keyframes popoverAnimation {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
