.dropdown {
  position: relative;
}

.content {
  position: absolute;
  top: 100%;
  z-index: 1;
}

.inner {
  overflow: hidden;
}

.with-pointer .content {
  padding-top: 10px;
}

.with-pointer.open .trigger:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  border-color: transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  border-bottom-color: #FFFFFF;
  z-index: 2;
}

.position_left .content {
  right: -10px;
}

.position_center .content {
  left: 50%;
  transform: translate(-50%);
}

.position_right .content {
  left: -10px;
}
