.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: block;
  margin: 1px;
  border-radius: 50%;
  border-style: solid;
  animation-name: lds-dual-ring;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
