.input {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

.input__input::placeholder {
  color: #898989;
}

.input_theme_bright {
  background: #ffffff;
  border: 1px solid #e6e8ea;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
}

.input_theme_bright .input__input {
  color: #393939;
}

.input_theme_bright.input_focused {
  border: 1px solid #c4c4c4;
  box-shadow: none;
}

.input_theme_dark {
  background: #000000;
}

.input_theme_dark .input__input {
  color: #ffffff;
}

.input_theme_gray {
  background: #f1f4f4;
}

.input_theme_gray .input__input {
  color: #575757;
}

.input_size_small {
  height: 40px;
}

.input_size_middle {
  height: 50px;
}

.input_size_big {
  height: 60px;
}

.input_shape_round {
  border-radius: 5px;
}

.left-element,
.right-element {
  flex-shrink: 0;
}

.input__input {
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  border: 0;
  width: 0;
  flex: 1;
  font-weight: 500;
}

.input_size_small .input__input {
  font-size: 14px;
}

.input_size_middle .input__input,
.input_size_big .input__input {
  font-size: 18px;
}

@media (hover: hover) {
  .input_theme_bright:hover {
    border: 1px solid #c4c4c4;
  }
}
