.tag-list {
  display: flex;
  max-width: 100vw;
  overflow: scroll;
  padding-left: 5px;
  -webkit-overflow-scrolling: touch;
}

.inner {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  flex-grow: 1;
}

.item {
  margin: 5px;
  flex-grow: 1;
  white-space: nowrap;
}

.right-button {
  margin: 5px;
  flex-shrink: 0;
}

.show-all-button {
  margin: 5px;
  display: none;
}

@media (min-width: 960px) {
  .tag-list {
    max-height: 45px;
    overflow: hidden;
    padding: 0;
  }

  .inner {
    flex-wrap: wrap;
  }

  .show-all-button {
    display: block;
  }

  .tag-list_extended {
    overflow: visible;
    max-height: inherit;
  }

  .tag-list_extended .item {
    flex-grow: 0;
  }
}
