.button {
  padding: 0 15px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  overflow: hidden;
  min-width: 150px;
  font: inherit;
  font-weight: 500;
  outline: none;
  text-decoration: none;
}

.button_aligned-left {
  justify-content: flex-start;
  text-align: left;
}

.button_icon {
  padding: 0;
  min-width: 0;
}

.button_block {
  width: 100%;
}

.button_short {
  min-width: 0;
}

.button_shape_round {
  border-radius: 5px;
}

.button_theme_transparent {
  background: transparent;
  color: #ffffff;
}

.button_theme_green {
  background: #1bb278;
  color: #ffffff;
}

.button_theme_green:active {
  background: #1bb278;
}

.button_theme_gray {
  background: #f3f5f5;
  color: #575757;
}

.button_theme_dark-gray {
  background: #898989;
  color: #ffffff;
}

.button_theme_dark-gray:active {
  background: #898989;
}

.button_theme_blue {
  background: #0d7ed0;
  color: #ffffff;
}

.button_theme_black {
  background: #393939;
  color: #ffffff;
}

.button_theme_white {
  background: #ffffff;
  color: #0d7ed0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.button_theme_white-gray {
  background: #ffffff;
  color: #898989;
  border: 1px solid #e6e8ea;
}

.button_theme_white-gray-2 {
  background: #ffffff;
  color: #898989;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.button_theme_white-gray:active {
  color: #898989;
  border: 1px solid #e6e8ea;
}

.button_theme_white-gray-2:active {
  color: #898989;
}

.button_theme_white-green {
  background: #ffffff;
  color: #1bb278;
  border: 1px solid rgba(27, 178, 120, 0.5);
}

.button_theme_white-red {
  background: #ffffff;
  color: #cc6761;
  border: 1px solid rgba(204, 103, 97, 0.5);
}

.button_theme_white-blue {
  background: #ffffff;
  color: #0d7ed0;
  border: 1px solid #c3dff3;
}

.button_theme_white-blue:active {
  border: 1px solid #c3dff3;
}

.button_size_30 {
  min-height: 30px;
  font-size: 14px;
}

.button_size_35 {
  min-height: 35px;
  font-size: 14px;
}

.button_size_40 {
  min-height: 40px;
  font-size: 16px;
}

.button_size_45 {
  min-height: 45px;
  font-size: 16px;
}

.button_size_50 {
  min-height: 50px;
  font-size: 18px;
}

.button_size_60 {
  min-height: 60px;
  font-size: 16px;
}

.button_size_65 {
  min-height: 65px;
  font-size: 18px;
}

.button_size_30.button_shape_circle {
  border-radius: 20px;
}

.button_size_35.button_shape_circle {
  border-radius: 20px;
}

.button_size_40.button_shape_circle {
  border-radius: 30px;
}

.button_size_45.button_shape_circle {
  border-radius: 30px;
}

.button_size_50.button_shape_circle {
  border-radius: 40px;
}

.button_size_60.button_shape_circle {
  border-radius: 40px;
}

.button_size_65.button_shape_circle {
  border-radius: 50px;
}

.button_size_30.button_icon {
  width: 30px;
}

.button_size_35.button_icon {
  width: 35px;
}

.button_size_40.button_icon {
  width: 40px;
}

.button_size_45.button_icon {
  width: 45px;
}

.button_size_50.button_icon {
  width: 50px;
}

.button_size_60.button_icon {
  width: 60px;
}

.button_size_65.button_icon {
  width: 65px;
}

@media (hover: hover) {
  .button_theme_green:hover {
    background: #29c489;
  }

  .button_theme_dark-gray:hover {
    background: #979797;
  }

  .button_theme_white-gray:hover {
    color: #606060;
    border: 1px solid #c4c4c4;
  }

  .button_theme_white-gray-2:hover {
    color: #606060;
  }

  .button_theme_white-blue:hover {
    border: 1px solid #86bfe7;
  }
}

.icon {
  display: flex;
  flex-shrink: 0;
}

.children {
  display: flex;
  align-items: center;
}

.icon_left {
  padding-right: 10px;
}

.icon_right {
  padding-left: 10px;
}
