.textarea {
  -webkit-appearance: none;
  outline: none;
  font-family: inherit;
  background: #ffffff;
  border: 1px solid #e6e8ea;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  color: #393939;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.textarea::placeholder {
  color: #898989;
}

.textarea:focus {
  border: 1px solid #c4c4c4;
  box-shadow: none;
}

@media (hover: hover) {
  .textarea:hover {
    border: 1px solid #c4c4c4;
  }
}
