.button {
  padding: 0 15px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  overflow: hidden;
  min-width: 150px;
  font: inherit;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  transition: all 200ms;
}

.button:disabled {
  opacity: 0.7;
}

.children {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  line-height: 0;
}

.icon_left {
  padding-right: 10px;
}

.icon_right {
  padding-left: 10px;
}

.button.button_type_icon {
  padding: 0;
}
