.item {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 200ms;
}

.item_active {
  background: #FFFFFF;
  color: #000000;
}

.inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


