.popup {
  position: relative;
  z-index: 99;
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: popupAnimation 200ms;
  z-index: 1;
  overflow: auto;
  text-align: center;
}

.inner {
  min-height: 100%;
  display: inline-flex;
  align-items: center;
}

@keyframes popupAnimation {
  from { margin-top: -50px }
  to { margin-top: 0 }
}
