.list-item {
  display: flex;
  align-items: center;
  color: #393939;
  min-height: 45px;
  padding: 5px 0;
  box-sizing: border-box;
  text-decoration: none;
}

.icon {
  display: flex;
  flex-shrink: 0;
}

.icon_left {
  margin-left: 15px;
}

.icon_right {
  margin-left: auto;
  margin-right: 15px;
}

.children {
  white-space: nowrap;
  margin: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
  font-weight: inherit;
  flex: 1;
}

@media (hover: hover) {
  .list-item:hover {
    background: #e6e8ea;
  }
}
