.photostatus {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0B0E11;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background_blurred {
  transform: scale(1.1);
  filter: blur(10px);
}

.background_darkened:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.background_gradient:after {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}

.children {
  position: relative;
}

