.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 40px;
  width: 220px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  transition: box-shadow 200ms;
  overflow: hidden;
}

.list__item {
  flex: 1;
  min-width: 0;
}

.list :global(a) {
  height: 100%;
  display: block;
}

@media (min-width: 768px) {
  .list {
    width: 280px;
  }
}

@media (hover: hover) {
  .list:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
