.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

.background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.overlay_animated .background {
  animation: overlayAnimation 200ms;
}

@keyframes overlayAnimation {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

:global(html.with-overlay) {
  overflow: hidden;
}

:global(html.with-overlay body) {
  overflow: hidden scroll;
  position: fixed;
  left: 0;
  right: 0;
}
